Description: TVMagazineCockpit
Maintainer: xcentaurix
Package: enigma2-plugin-extensions-tvmagazinecockpit
Architecture: all
Depends: enigma2-plugin-skincomponents-cockpit, enigma2-plugin-systemplugins-covercockpit
